body {
  background-color: blue;
  background-image: url("../../assets/img/bg.png");
  background-repeat:repeat-y;
  background-size: cover;

  box-sizing: border-box;
  font-family:sans-serif;

  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #391eda;
  color: rgb(57, 30, 218);
  color: #d2d6ef;
  margin: 0;
  padding: 0.5rem;
  margin-bottom: 1rem;

  background: linear-gradient(rgb(75, 66, 227) 0%, rgb(48, 44, 209) 100%);

  box-shadow: 0px 1px 1px 0px #180c5a;
}

#body {
  background: #ffffffee;
  padding: 0.25rem 0;
  margin: 2rem;
  border-radius: 6px;

  box-shadow: inset 1px 1px 1px 0px #180c5a;
}

#desc {
  width: 60%;
  margin: 1rem auto;
  font-size: 0.8rem;
  text-align: center;
  opacity: 0.8;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid;
}

.row {
  width: 80%;
  margin: 2rem auto;
}
input, select {
  display: block;
  width: 90%;
  height: 1.8rem;
  padding-left: 0.4rem;
  margin: 0.4rem 0;
}

#ava-activate {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  opacity: 0.8;
}

#ava-wallet {
  margin-top: 0.6rem;
  color: rgb(57, 30, 218);
  margin-bottom: 0.4rem;
  position: relative;
  left: -6em;
  font-size: 0.5rem;
}

#go {
  width: 8rem;
  height: 2rem;
  line-height: 2rem;
  color: #d2d6ef;
  background-color: #391eda;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 0px #180c5a;
  cursor: pointer;
}
#go:hover {
  color: #fdfdfd;
}
